@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:400,500,600,700&display=swap');
@import url("https://use.typekit.net/qlj2nhz.css");

* {
  font-family: 'Zilla Slab', serif;
  color: #fff;
}

body {
  margin: 0px;
  background-color: #6B38E8;
}

.searchFieldWrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  background-color:#6B38E8;
  padding: .25em 0 .25em 0;
}

.searchFieldWrap button {
  display: block;
  color: black;
  background-color: white;
  font-size: 1em;
  padding: .5em;
  border: none;
  border-radius: .5em;
}

.searchFieldWrap input {
  display: block;
  color: black;
  background-color: white;
  font-size: 1em;
  padding: .5em;
  border: none;
  border-radius: .5em;
  margin-right: .5em;
}

#parent {
  margin-top: 5em;
}

#parent>div {
  display: flex;
  justify-content: center;
}

.planeetDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
  align-items: center;
  max-width: 20em;
  min-width: 20em;
}

.textDiv {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1em;
}

.svgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textDiv p:first-of-type {
  font-size: 1.2em;
  font-weight: 900;
  margin: 0;
  display: block;
  width: 100%;
}

.textDiv p:last-of-type {
  font-size: 1em;
  margin: 0;
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-weight: 600;
}

a {
  display: block;
  margin: 1em;
  margin-top: 5em;
  text-align: center;
  font-weight: 500;
}