@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:400,500,600,700&display=swap');
@import url("https://use.typekit.net/qlj2nhz.css");

* {
  font-family: 'Zilla Slab', serif;
}

a {
  color: #fff;
}

body {
  margin: 0px;
  background-color: #2E2D5E;
}

.sticky {
  position: fixed;
}

#searchFieldForm input[type="submit"]{
  display: none;
}

#searchFieldForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6B38E8;
  top: 60px;
  right: 1em;
}

.searchFieldFormPlaceLabel input {
  width: 13em;
  display: block;
  color: black;
  background-color: white;
  font-size: 1em;
  padding: .5em;
  border: solid 2px #6B38E8
}

.searchFieldFormSubmitLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
}


.purpleText {
  color: #6B38E8;
}

.bold {
  font-weight: 700 !important;
}

.semiBold {
  font-weight: 600 !important;
}

.underline {
  border-bottom: solid 2px;
}

.underlineColorGreen{
  border-color: #1BEAAE;
}

.underlineColorRed{
  border-color: #F65645;
}

.underlineColorYellow{
  border-color: #FAFF2E;
}
  
.fixedPointerHeader{
  position: fixed;
  height: 50px;
  background-color: #d8cedb;
  display: flex;
  width: 100%;
  top: 0;
  padding: 0 10%;
  z-index: 2;
}

.fixedPointerHeaderTriangleWrap {
  background-color: #1D2939;
  width: 100%;
}

.introductionWrap{
  margin-top: 50px;
  background-color: #F2F2F2;
  padding: 1em 0;
}

.searchFieldWrapTest{
  height: 16em;
  background: url('../rocket.png') bottom right no-repeat, linear-gradient(#F2F2F2, #2E2D5E);
  background-size: 12em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introductionText {
  padding: 0.5em 2em;
}

.introductionTitle {
  padding: 0.5em 2em;
}

.introductionTitle h1 {
  font-weight: 600;
  color: #1D2939;
  margin: 0;
}

.introductionText p {
  font-weight: 400;
  line-height: 32px;
  color: #1D2939;
  margin: 0;
}

.fixedPointerHeaderLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}

.svgGradientPresets {
  display: block;
}

.detailPageDataInText{
  width: 20em;
  margin: auto;
  margin-top: 1.5em;
  background-color: #fff;
}

.detailPageDataInText div {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

.detailPageProfitChartLegend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.closeDetailPage {
  color: #000;
  margin: 1em 0 0 1em;
  cursor: pointer;
  position: fixed;
}

.closeDetailPage svg {
  padding: .25em;
  border-radius: 1em;
  background-color: #fff;
  color: #2E2D5E;
}

.detailPageSubTitleWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16em;
  margin: auto;
}

.detailPageSubTitleWrap p {
  color: #fff;
  font-size: 1em;
  text-align: center;
  margin: .25em 0;
}

.detailPageTitleWrap {
  display: flex;
  justify-content: center;
  width: 16em;
  margin: 2em auto .5em auto;
}

.detailPage {
  display: none;
  background-color: #2E2D5E;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
}

.detailPageContent {
  margin: auto;
  min-width: 18em;
}

.detailPageProfitChart {
  display: flex;
  justify-content: center;
  margin: .5em auto;
  width: 20em;
  background-color: #fff;
  flex-wrap: wrap;
}

.detailPageSalaryChart {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 20em;
  background-color: #fff;
  flex-wrap: wrap;
  margin-top: 1.5em;
}

.detailPageProfitChartSvg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.detailPageProfitChartTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18em;
}

.detailPageProfitChartTitle p {
  font-weight: 700;
}

.searchFieldWrap {
  display: flex;
  flex-wrap: wrap;
  background-color:#fff;
  margin: 2em;
  padding: 1.25em;
  max-width: min-content;
}

.searchFieldWrap p {
  margin: 0 0 .5em 0;
  display: block;
}

.searchFieldWrap button {
  display: block;
  background-color: #fff;
  border-top: solid 2px;
  border-right: solid 2px;
  border-bottom: solid 2px;
  border-left: none;
  padding: .3em 1em;
  border-color:#6B38E8;
}

#parent>div {
  display: flex;
  justify-content: center;
}

.planeetDiv {
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
  align-items: center;
  max-width: 18em;
  cursor: pointer;
}

.planeetDiv div:first-of-type {
  margin-right: 1em;
}

.planeetDiv div:first-of-type p {
  text-align: right;
}

.planeetDiv div:last-of-type p {
  text-align: left;
}

.textDiv p:first-of-type {
  font-size: 1.05em;
  font-weight: 900;
  margin: 0;
  display: block;
  width: 100%;
  color: #fff;
}

.textDiv p:last-of-type {
  font-size: .85em;
  margin: 0;
  display: block;
  width: 100%;
}

.textDiv {
  display: flex;
  flex-wrap: wrap;
}

.svgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailPageSvgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.detailPageContactLink {
  display: block;
  width: 20em;
  margin: 1.5em auto;
  text-align: center;
  background-color: #FAFF2E;
  color: #000;
  text-decoration: none;
  font-weight: 900;
  padding: .5em 0em;
}

h2 {
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

a {
  display: block;
  margin: 1em;
  margin-top: 5em;
  text-align: center;
  font-weight: 500;
}
